In [5]:
import pandas as pd
df = pd.read_csv('/content/data.csv', encoding='latin1')
df.head()

/tmp/ipython-input-579524753.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/data.csv', encoding='latin1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [7]:
x = df["no2"].dropna().values
print("Total NO2 samples:", len(x))

Total NO2 samples: 399237

In [8]:
df["no2"] = pd.to_numeric(df["no2"], errors="coerce")
x = df["no2"].dropna().values
print("Clean NO2 samples:", len(x))

Clean NO2 samples: 399237

In [9]:
import numpy as np
r = 102303147
a_r = 0.05 * (r % 7)
b_r = 0.3 * (r % 5 + 1)
print("a_r =", a_r)
print("b_r =", b_r)

a_r = 0.1
b_r = 0.8999999999999999

In [10]:
z = x + a_r * np.sin(b_r * x)
print("z sample:", z[:10])
print("z min, max:", z.min(), z.max())

z sample: [17.40479449  7.00168139 28.54944994 14.761598    7.54500441 25.60918467
 17.13126326  8.79997125 23.09611527  8.99878538]
z min, max: 0.0 876.013930154833

In [11]:
mu = np.mean(z)
print("mu =", mu)

mu = 24.153143381555

In [12]:
sigma2 = np.var(z)
lam = 1 / (2 * sigma2)
print("lambda =", lam)

lambda = 0.001928286674567629

In [13]:
import math
c = math.sqrt(lam / math.pi)
print("c =", c)

c = 0.02477484030042055

In [14]:
print("===== SUBMISSION VALUES =====")
print("lambda =", lam)
print("mu     =", mu)
print("c      =", c)

===== SUBMISSION VALUES =====
lambda = 0.001928286674567629
mu     = 24.153143381555
c      = 0.02477484030042055